<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Password</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="menu-buttons">
            <button class="btn" onclick="showForm()">Add New Password</button>
            <form action="/logout" method="POST">
                <input class="btn" type="submit" value="Log Out">
            </form>
        </div>

        <div id="container_list">
            {% if passwords %}
                {% for password in passwords %}
                <div class="item">
                    <div class="website_name" onclick="toggleDetails(this)">
                        <ul class="ïtem">{{ password[1] }}</ul>
                    </div>
                    <div class="details-containers">
                        <form class="details" action="/edit_password" method="POST">
                            <div class="field">
                                <input type="text" name="username" value="{{ password[2] }}" required> <br>
                            </div>
                            <div class="field">
                                <input type="password" name="password" value="{{ password[3] }}" required> <br>
                            </div>
                            <div class="button-container">
                                <div class="field btn-layer">
                                    <input type="submit" value="Edit">
                                </div>
                                <div class="field btn-layer">
                                    <form action="/delete_password" method="POST" onsubmit="return confirm('Are you sure you want to delete this password?');">
                                        <input type="submit" value="Delete">
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="item">
                    <p>No passwords found</p>
                </div>
            {% endif %}
        </div>

        <div id="form-container">
            <button class="close-btn" onclick="hideForm()">&#x2715;</button>
            <h4>Add Password</h4>
            <form id="password-form" action="/add_password" method="POST">
                <div class="field">
                    <input type="text" name="website" placeholder="Website" required> <br>
                </div>
                <div class="field">
                    <input type="text" name="username" placeholder="Username" required> <br>
                </div>
                <div class="field">
                    <input type="password" name="password" placeholder="Password" required> <br>
                </div>
                <div class="field">
                    <input type="password" name="confirm" placeholder="Confirm Password" required> <br>
                </div>
                <div class="field btn-layer">
                    <input type="submit" value="Add Password">
                </div>
            </form>
        </div>
    </div>
    <script>
        function showForm() {
            document.getElementById('form-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        function hideForm() {
            document.getElementById('form-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        document.getElementById('password-form').addEventListener('submit', function(event) {
            var password = document.querySelector('input[name="password"]').value;
            var confirm = document.querySelector('input[name="confirm"]').value;

            if (password !== confirm) {
                alert('Passwords do not match');
                event.preventDefault(); // Prevent form submission
            }
        });

        function toggleDetails(element) {
            var details = element.nextElementSibling;
            if (details.style.display === "none" || details.style.display === "") {
                details.style.display = "block";
            } else {
                details.style.display = "none";
            }
        }
    </script>
</body>
</html>
