html, body {
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Styling for the form container */
#form-container {
    display: none; /* Hidden by default */
    flex-direction: column;
    position: fixed;
    width: 20%;
    height: 30%;
    background-color: #f9f9f9;
    border-radius: 15px;
    font-size: 18px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.3);
    padding: 20px;
    z-index: 1000;
}

#form-container h4 {
    margin-top: 0;
    color: black;
    text-align: center;
}

.field {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.normal input {
    width: 95%;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
}

.special input {
    width: 95%;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
    background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
    cursor: pointer;
    color: white;
}

.btn-layer {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.btn-layer input {
    width: 95%;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
    outline: none;
    box-sizing: border-box;
    color: white;
}
/* Styling for the close button */
.close-btn {
    position: absolute;
    top: 15px;
    right: 17px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
/* Styling for the overlay */
#overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 500;
}
/* Basic styling for the button and form elements */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    margin: 10px;
}

.item {
    width: 60%;
    border: 1px solid black;
    background: white;
    text-align: center;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

#container_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.details-containers {
    display: none; /* Hidden by default */
    flex-direction: column;
    font-size: 18px;
}
.website_name {
    cursor: pointer;
}

.btn-layer {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.menu-buttons {
    display: flex;
    width: 40%;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.toggle-password {
    cursor: pointer;
    text-decoration: underline;
}